<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Apartment Rental App</title>
</head>
<body>
    <h1>Apartment Rental App</h1>



    <ul>
        <li><a href="/login-form">Login</a></li>
        <li><a href="/signup-form">SignUp</a></li>
        <li><a href="/profile">Go to User Profile</a></li>
        <li><a href="/wishlist">Go to Wishlist</a></li>
    </ul>
</body>
</html>