<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Apartment Rental App</title>
</head>
<body bgcolor="#f7f4ef">
<center>
    <br>
    <font face="Georgia, serif" size="7" color="#3a3a3a"><b>🏠 Roommie Finder</b></font>
    <br><br>

    <table border="0" cellpadding="8" cellspacing="4" width="320" bgcolor="#ffffff">
        <tr>
            <td align="center">
                <font face="Arial, sans-serif" size="3">
                    <a href="/login-form"><font color="#c0392b">Login</font></a>
                </font>
            </td>
            <td align="center">
                <font face="Arial, sans-serif" size="3">
                    <a href="/signup-form"><font color="#c0392b">Sign Up</font></a>
                </font>
            </td>
            <td align="center">
                <font face="Arial, sans-serif" size="3">
                    <a href="/profile"><font color="#c0392b">Profile</font></a>
                </font>
            </td>
        </tr>
        <tr>
            <td align="center">
                <font face="Arial, sans-serif" size="3">
                    <a href="/wishlist"><font color="#c0392b">Wishlist</font></a>
                </font>
            </td>
            <td align="center">
                <font face="Arial, sans-serif" size="3">
                    <a href="/explore"><font color="#c0392b">Explore</font></a>
                </font>
            </td>
            <td align="center">
                <font face="Arial, sans-serif" size="3">
                    <a href="/listing/new"><font color="#c0392b">New Listing</font></a>
                </font>
            </td>
        </tr>
    </table>

    <br>
    <hr width="60%" size="1" color="#dddddd">
    <br>
    <font face="Arial, sans-serif" size="2" color="#aaaaaa">&copy; 2026 Roommie Finder</font>
    <br><br>
</center>
</body>
</html>
