<html>
    <head>
        <title>Roommate Finder | Home</title>
    </head>
    <body>
        <header>
            <h1>Find your perfect roommate!</h1>
            <p>The simplest way to find your perfect roommate.</p>

            <strong>Roommate Finder</strong> | 
            <% if (user) { %>
                <a href="/profile">My Profile</a> | 
                <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/login-form">Login</a>
            <% } %>
        </header>

        <hr>

        <% if (user) { %>
            <p>Welcome back, <%= user.username %>!</p>
            <br>
            <a href="/explore">Continue exploring!</a>
        <% } else { %>
            <p>Ready to start finding a roommate?</p>
            <a href="/signup">Create your account here!</a>
        <% } %>
    </body>
</html>