<!DOCTYPE html>
<html>
<head>
  <title>Interest Forms</title>
</head>
<body bgcolor="#f7f4ef">
<center>
  <br>
  <font face="Georgia, serif" size="6" color="#3a3a3a"><b>🏠 Roommie Finder</b></font>
  <br>
  <font face="Arial, sans-serif" size="3">
    <a href="/profile"><font color="#c0392b">Back to Profile</font></a>
  </font>
  <br><br>

  <table border="0" cellpadding="28" cellspacing="0" bgcolor="#ffffff" width="440">
    <tr>
      <td align="center">
        <font face="Georgia, serif" size="5" color="#3a3a3a"><b>Interest Forms</b></font>
        <br><br>
        <font face="Arial, sans-serif" size="3" color="#555555">
          <b>Please choose where you want to go:</b>
        </font>
        <br><br>

        <table border="0" cellpadding="0" cellspacing="10" width="100%">
          <tr>
            <td bgcolor="#f7f4ef" align="center">
              <table border="0" cellpadding="16" width="100%">
                <tr>
                  <td align="center">
                    <font face="Arial, sans-serif" size="4">📤</font><br>
                    <font face="Arial, sans-serif" size="3" color="#555555">Submitted by you</font><br><br>
                    <a href="/interest/submitted"><font face="Arial, sans-serif" size="3" color="#c0392b"><b>View Submitted Forms</b></font></a>
                  </td>
                </tr>
              </table>
            </td>
            <td bgcolor="#f7f4ef" align="center">
              <table border="0" cellpadding="16" width="100%">
                <tr>
                  <td align="center">
                    <font face="Arial, sans-serif" size="4">📥</font><br>
                    <font face="Arial, sans-serif" size="3" color="#555555">Received by you</font><br><br>
                    <a href="/interest/received"><font face="Arial, sans-serif" size="3" color="#c0392b"><b>View Received Forms</b></font></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <br><br>
  <font face="Arial, sans-serif" size="2" color="#aaaaaa">&copy; 2026 Roommie Finder</font>
  <br><br>
</center>
</body>
</html>
