<!DOCTYPE html>
<html>
<head>
  <title>Interest Forms</title>
</head>
<body>

  <h1>Interest Forms</h1>
  <hr>

  <p><strong>Please choose where you want to go:</strong></p>

  <table border="1" cellpadding="10">
    <tr>
      <th>Your Actions</th>
      <th>Links</th>
    </tr>

    <tr>
      <td>Submitted by you</td>
      <td>
        <a href="/interest/submitted">View Submitted Forms</a>
      </td>
    </tr>

    <tr>
      <td>Received by you</td>
      <td>
        <a href="/interest/received">View Received Forms</a>
      </td>
    </tr>
  </table>

  <br>

  <hr>

  <p>
    <a href="/profile"> Back to Home</a>
  </p>

</body>
</html>