<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>

    <% if (msg != "") { %>
      <p style="color: red">Error: <%= msg %></p>
    <% } %>

    <form action="/login-form" method="post">

      <table>
        <tr>
          <td>
            Username:
          </td>
          <td>
            <input type="text" name="username" value="<%= username ? username : ""%>" required>
          </td>
        </tr>
        <tr>
          <td>
            Password:
          </td>
          <td>
            <input type="password" name="password" required>
          </td>
        </tr>
      </table>
    </form>
    <button type="submit">Login</button>
    <p>Don't have an account? <a href="/signup-form">Sign up here!</a></p>
  </body>
</html>