<!DOCTYPE html>
<html>
<head>
  <title>Interest Submitted</title>
</head>
<body>

<h1>Interest Submitted Successfully</h1>
<hr>

<p>Your interest for "<%= listing.title %>" has been submitted.</p>
<p>The landlord will be able to view your request in the system.</p>
<hr>
<br>
<h2 align="center">Navigation</h2>

  <table align="center" cellpadding="10">
    <tr>
      <td>
        <form action="/explore" method="GET">
          <button type="submit">Go to Explore Page</button>
        </form>
      </td>

      <td>
        <form action="/wishlist" method="GET">
          <button type="submit">Back to Wishlist</button>
        </form>
      </td>

      <td>
        <form action="/interest/submitted" method="GET">
          <button type="submit">View your previously submitted interest forms</button>
        </form>
      </td>
    </tr>
  </table>
