<html>
  <head>
    <title>Signup</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
        Username: <input type="text" name="username" required><br>
        Password: <input type="password" name="password" required><br>
        Full Name: <input type="text" name="fullname" required><br>
        Phone: <input type="text" name="phone" required><br>
        Email: <input type="text" name="email" required><br>

        Gender: 
        <select name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br>

        Bio: <textarea name="bio" required></textarea><br>
        <br>
        <button type="submit">Sign Up</button>
    </form>
  </body>
</html>