<!DOCTYPE html>
<html>
    <head>
        <title>wishlist</title>
    </head>
    <body>
        <h1>Your wishlist of rooms</h1>
        <hr>
        
            <% let currentWishListItem ='' %>
            <% if (wishlist_Array.length >0){ %>
                <% for(let i = 0; i < wishlist_Array.length; i++){%>
                    <table>
                        <% currentWishListItem = wishlist_Array[i] %>
                        <% for(let j = 0; j < currentWishListItem.length; j++){%>
                               <% if( j === 0) {%>
                                    <tr>
                                    <td>
                                        <br>
                                        <img src="<%= currentWishListItem[j]%>">
                                        
                                    </td>    
                                    </tr>
                                <% }else { %>
                                    <tr>
                                    <td>
                                        <br>
                                        <%= currentWishListItem[j]%>
                                        
                                    </td>    
                                    </tr>
                                <% } %>
                        <% } %>
                
                    </table>
                    <br>
                    <form action="/checkout" method="POST">
                        <button type="submit" name="checkout_item" value="<%= currentWishListItem[1] %>">Check Out!</button>
                    </form>
                <%}%>  
            <% } else { %>
                <h3>Nothing in your wishlist yet</h3>
            <% } %>
        <a href="/main">Continue Searching!</a>
        
    </body>
</html>
